<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title -Thư Viện CNCF</title>
    @Styles.Render("~/Content/css")
    @Styles.Render("~/Content/DataTables/css")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/datatable")

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    <script type="text/javascript" src="~/Scripts/jquery-2.2.3.min.js"></script>

</head>
<body>
    <div class="navbar navbar-default navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Thư Viện CNCF", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Học sinh", "Index", "HocSinh")</li>
                    <li>@Html.ActionLink("Chủ đề", "Index", "ChuDe")</li>
                    <li>@Html.ActionLink("Sách", "Index", "Sach")</li>
                    <li>@Html.ActionLink("Mượn/Trả sách", "Create", "MuonTraSach")</li>
                    <li>@Html.ActionLink("Thống Kê", "ThongKe", "MuonTraSach")</li>
                    <li><a href="https://www.cncf.org/operational-centres.html" target="_blank">Liên Hệ</a></li>
                </ul>
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - Thư Viện CNCF</p>
        </footer>
    </div>





    @RenderSection("Scripts", required: false)
</body>
</html>
