@model LibraryManagementSystem.Models.MuonTraSach

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Chi tiết</h2>

<div>
    <h4>Mượn sách</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Hoc_Sinh.TenHS)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Hoc_Sinh.TenHS)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NgayMuon)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NgayMuon)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NgayTra)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NgayTra)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Sửa", "Edit", new { id = Model.ID }) |
    @Html.ActionLink("Quay lại", "Index")
</p>
